<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=480"/>
        <title>{% block title %}A Random {{ c.class_name }} for {{ c.system }} D&amp;D{% endblock %}</title>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Metamorphous' type='text/css'>
        <link rel="stylesheet" href="/static/create.css" type="text/css" media="screen" title="site style" charset="utf-8">
        <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="/static/jquery.masonry.min.js"></script>
        <script type="text/javascript">
          $(function () {
            $('#extras').masonry({
              itemSelector : '.block',
            });
          });
        </script>
        <link rel="apple-touch-icon-precomposed" href="/static/touch-icon-ipad-144.png" />
    </head>
    <body>
        <div id="container" class="{% block page_class %}default{% endblock %}">
		      {% block content %}{% endblock %}
        </div>
        <script>
          (function () {
            window.counterscale = {
              q: [["set", "siteId", "character.totalpartykill.ca"], ["trackPageview"]],
            };
          })();
        </script>
        <script
            id="counterscale-script"
            src="https://counterscale.ramanan-287.workers.dev/tracker.js"
            defer
        ></script>
    </body>
</html>
